<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="showModal = true" class="button">Show Modal</button>
      <transition name="fade" appear>
        <div
          class="modal-overlay"
          v-if="showModal"
          @click="showModal = false"
        ></div>
      </transition>
      <transition name="pop" appear>
        <div class="modal" role="dialog" v-if="showModal">
          <h1>Vue Transitions</h1>
          <p>
            The <code>&lt;transition&gt;</code> component in Vue can create
            wonderful animated entrances and exits.
          </p>
          <button @click="showModal = false" class="button">Hide Modal</button>
        </div>
      </transition>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
